.delivery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #e74c3c;
}

.restaurant {
  opacity: 0.8;
  text-transform: uppercase;
}

.map {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
}

.main {
  height: 56%;
  width: 100%;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-content {
  margin-top: 2rem;
  background: white;
  padding: 0 1rem;
  width: 100%;
  z-index: 5;
  position: relative;
  color: black;
  height: 40%;
}

.main-content-content {
}

@media screen and (min-width: 760px) {
  .main-content-content {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }
}

.error {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 60%;
  color: white;
  padding: 0 2rem;
}

@media screen and (min-width: 720px) {
  .error {
    padding: 5rem;
  }
}
