.time-remaining {
  display: block;
  position: relative;
  pointer-events: none;
}

@media screen and (min-width: 720px) {
  .time-remaining {
    padding: 0 10%;
  }
}

@media screen and (min-width: 960px) {
  .time-remaining {
    padding: 0 30%;
  }
}

.time-remaining:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transform: translateY(50%);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.remaining {
  font-size: 0.75rem;
}

.circle {
  margin: 0 auto;
  position: relative;
  width: 50%;
  /*background: white;*/
  background: white;
  border-radius: 50%;
  border: 10px solid white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
}

.circle:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.circle-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
